   *{
        padding: 0;
        margin: 0;
    }
    @font-face {
          font-family: 'iconfont';
          src: url('iconfont.eot');
          src: url('iconfont.eot?#iefix') format('embedded-opentype'),
              url('iconfont.woff2') format('woff2'),
              url('iconfont.woff') format('woff'),
              url('iconfont.ttf') format('truetype'),
              url('iconfont.svg#iconfont') format('svg');
        }
    .iconfont {
          font-family: "iconfont" !important;
          font-size: 16px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
    html,body{
    	width: 1250px;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        /*border:2px solid red;*/
        background-color: #2b3b4a;
    }
    a{
        text-decoration:none;
        color: #d1b683;
    }
    a:hover{
        color: #FFDAB9;
    }
    .wrap{
        width: 260px;
        height: 100%;
        background-color: #2b3b4a;
        text-align: center;
        float: left;
        /*border:2px solid green;*/
    }
    ul{
    	list-style-type:none;
    }
    .content_div{
        width: 900px;height: auto;margin:20px 43px 0px 43px;
    }
    .content_title{
        width: 900px;padding: 20px 0;background-color: #FDF5E6;
    }
    .content{
        width: 900px;height: auto;background-color: white;/*border:2px solid black;*/
    }
    .art_issue>div{
          width: 500px;
          height: 50px;
          line-height: 50px;
          margin:2px auto;
          /*display: inline;*/
          background-color: #bdebef;
          /*border-bottom:2px solid black;*/
    }
    .issu_title{
           width: 300px;
           float: right;
          height: 100%;
    }
    .issu_title{
        border:none;
        border-bottom: 2px solid #eee;
        border-right: 1px solid #eee;
    }
    .issu_btn{
           width: 300px;
           float: right;
          height: 100%;
          border:2px solid #ccc;
          border-radius: 20px;
    }
    .sort select{
           width: 304px;
           float: right;
          height: 50px;
    }
    .header{
        border-bottom: 2px solid #cfcfcf;
         background-color: #2b3b4a;
    }
    .header span{
        width: 100%;
        padding: 15px 0;
        /*background-color: #05192e;*/
        font-size: 24px;
        color: #fff;
        line-height: 65px;
        /*border:2px solid red;*/
        /*float: left;*/
    }
    .header div{
    	/*margin-left: 30px;*/
        padding: 22px 0;
        font-size: 15px;
        color: #fff;
    	/*border:2px solid red;*/
        width: 120px;height: 100%;
    	float: right;
    }
    .wrap_header{
        text-align: left;
        /*border:2px solid red;*/
        margin-left: 22px;
    }
    .wrap_header h3{
        padding: 15px 0;
        font-size: 22px;
        color: #fff;
    }
    .wrap_header p{
        padding: 10px 0;
        /*font-size: 15px;*/
        color: #fff;
    }
    .nav{
        width:250px;
        margin: 15px 5px 0;
    }
    .list{
        margin-bottom: 10px;
    }
    .list h2{
        position: relative;
        padding: 15px 0;
        background-color: #404458;
        font-size: 16px;
        color: #fff;
        border-radius: 25px;
        transition: .5s;
    }
    .list h2.on{
        background-color: #393c4a;
    }
    .character{
        font-family: 新宋体,楷体;
    }
    .list i{
        position: absolute;
        right: 10px;
        top: 16px;
        border: 8px solid transparent;
        border-left-color: #fff;
        transform:rotate(0deg);
        transform-origin: 1px 8px;
        transition: 0.5s;
    }
    .list i.on{
        transform:rotate(90deg);
    }
    .hide{
        overflow: hidden;
        height: 0;
        transition: .5s;
    }
    .hide h5{
        padding: 10px 0;
        background-color: #282c3a;
        border-radius: 25px;
        font-family: 新宋体,楷体;
        /*color:#fff;*/
        border-bottom: 1px solid #42495d;
    }
    .main{
    	/*border:2px solid red;*/
        width: 986px;
        height: auto;
        text-align: center;
        float: right;
        background-color: #cfcfcf;
        background-image: url(images/bgimg.png);
    }